

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Roboto:wght@100&display=swap');

body{
    font-family: "Lato", sans-serif;
    background:#111 !important;
    overflow-x:hidden;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    /*display: block;*/
    transition: 0.3s;
}
.sidebar h3{
      padding: 10% 10% 10% 10%;
    line-height:3rem;
    font-size: 25px;
    color: #818181;
    /*display: block;*/
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    position: fixed;
    font-size: 50px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 2vw 2vw;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  /*a img{
    height:22.93vw;
    width:22.93vw;
  }
  /*.box{
    height:22.925vw;
    width:22.925vw;
    overflow: hidden;
  }*/
  

  .img-container {
    position: relative;
    width: 100%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 31vw;
    height: 31vw;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    
  }
  
  .img-container:hover .image {
    opacity: 0;
  }
  
  .img-container:hover .middle {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 16px;
  }
  .col-lg-3{
    padding: 0 !important;;
  }
  .about-text{
    color: #818181;
    font-family: 'Inconsolata', monospace;
  }

  /*responsive*/

  
  @media(max-width:770px) {
    .image{
      width:45vw;
      height:45vw;
    }
    #main{
      padding:2px 2px;
    }
    .openbtn{
      padding: 2vw 1vw;
      font-size:35px;
    }
  }
  @media(max-width:578px) {
    .image{
      width:91vw;
      height:91vw;
    }
    .openbtn{
      padding: 2vw 1vw;
      font-size:25px;
    }
  }